<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
  <store name="com.yworks.yfx.GlobalProperties">
    <entry name="locale" type="java.util.Locale">
      <value>en</value>
      <defaultValue>en</defaultValue>
    </entry>
    <entry name="TooltipsDelay" type="java.lang.Integer">
      <value>4</value>
      <defaultValue>4</defaultValue>
    </entry>
  </store>
  <store name="com.yworks.yfx.yfiles.YFilesModule">
    <entry name="groupStateDisplay" type="java.lang.Byte">
      <value>1</value>
      <defaultValue>1</defaultValue>
    </entry>
    <entry name="removeInnerBends" type="java.lang.Boolean">
      <value>true</value>
      <defaultValue>true</defaultValue>
    </entry>
    <entry name="showModulesDialogs" type="java.lang.Boolean">
      <value>true</value>
      <defaultValue>true</defaultValue>
    </entry>
    <entry name="bridgeScaling" type="y.view.BridgeCalculator">
      <value>5</value>
      <defaultValue>5</defaultValue>
    </entry>
    <entry name="resizeFromCenter" type="java.lang.Boolean">
      <value>true</value>
      <defaultValue>true</defaultValue>
    </entry>
    <entry name="bridgeCrossing" type="y.view.BridgeCalculator">
      <value>7</value>
      <defaultValue>7</defaultValue>
    </entry>
    <entry name="snapping.node.edge" type="java.lang.Integer">
      <value>20</value>
      <defaultValue>20</defaultValue>
    </entry>
    <entry name="snapping.mpm.edge.distance" type="java.lang.Boolean">
      <value>false</value>
      <defaultValue>false</defaultValue>
    </entry>
    <entry name="backgroundMode" type="java.lang.Byte">
      <value>4</value>
      <defaultValue>4</defaultValue>
    </entry>
    <entry name="backgroundColor" type="java.awt.Color">
      <value>#ffffcc</value>
      <defaultValue>#ffffff</defaultValue>
    </entry>
    <entry name="paintNodesOverEdges" type="java.lang.Boolean">
      <value>false</value>
      <defaultValue>false</defaultValue>
    </entry>
    <entry name="gridType" type="java.lang.String">
      <value>POINTS</value>
      <defaultValue>POINTS</defaultValue>
    </entry>
    <entry name="useCenteredPorts" type="java.lang.Boolean">
      <value>false</value>
      <defaultValue>false</defaultValue>
    </entry>
    <entry name="arrowClip" type="java.lang.Integer">
      <value>0</value>
      <defaultValue>0</defaultValue>
    </entry>
    <entry name="synchronizeGroupLabels" type="java.lang.Boolean">
      <value>false</value>
      <defaultValue>false</defaultValue>
    </entry>
    <entry name="snapping.color" type="java.awt.Color">
      <value>#c0c0c0</value>
      <defaultValue>#c0c0c0</defaultValue>
    </entry>
    <entry name="createNodeOnClick" type="java.lang.Boolean">
      <value>false</value>
      <defaultValue>true</defaultValue>
    </entry>
    <entry name="morphDuration" type="java.lang.Integer">
      <value>300</value>
      <defaultValue>300</defaultValue>
    </entry>
    <entry name="detailsThreshold" type="java.lang.Double">
      <value>0.3</value>
      <defaultValue>0.3</defaultValue>
    </entry>
    <entry name="animatedZooming" type="java.lang.Boolean">
      <value>true</value>
      <defaultValue>false</defaultValue>
    </entry>
    <entry name="morphLayouts" type="java.lang.Boolean">
      <value>true</value>
      <defaultValue>true</defaultValue>
    </entry>
    <entry name="splitEdgeOnDrop" type="java.lang.Boolean">
      <value>true</value>
      <defaultValue>true</defaultValue>
    </entry>
    <entry name="editLabelOnCreateEdge" type="java.lang.Boolean">
      <value>false</value>
      <defaultValue>false</defaultValue>
    </entry>
    <entry name="showScrollbarsInEditMode" type="java.lang.Boolean">
      <value>true</value>
      <defaultValue>true</defaultValue>
    </entry>
    <entry name="snapping.enabled" type="java.lang.Boolean">
      <value>true</value>
      <defaultValue>true</defaultValue>
    </entry>
    <entry name="mouseWheelBehavior" type="java.lang.Byte">
      <value>1</value>
      <defaultValue>0</defaultValue>
    </entry>
    <entry name="maxDynamicPaletteEntries" type="java.lang.Integer">
      <value>30</value>
      <defaultValue>30</defaultValue>
    </entry>
    <entry name="gridSpacing" type="java.lang.Integer">
      <value>30</value>
      <defaultValue>30</defaultValue>
    </entry>
    <entry name="useOrthogonalEdgeMode" type="java.lang.Boolean">
      <value>false</value>
      <defaultValue>false</defaultValue>
    </entry>
    <entry name="showGrid" type="java.lang.Boolean">
      <value>false</value>
      <defaultValue>false</defaultValue>
    </entry>
    <entry name="fitContentOnResize" type="java.lang.Boolean">
      <value>false</value>
      <defaultValue>false</defaultValue>
    </entry>
    <entry name="adjustNodeSizeToLabel" type="java.lang.Boolean">
      <value>false</value>
      <defaultValue>false</defaultValue>
    </entry>
    <entry name="snapping.edge.edge" type="java.lang.Integer">
      <value>20</value>
      <defaultValue>20</defaultValue>
    </entry>
    <entry name="snapping.node.node" type="java.lang.Integer">
      <value>30</value>
      <defaultValue>30</defaultValue>
    </entry>
    <entry name="editLabelOnCreateNode" type="java.lang.Boolean">
      <value>false</value>
      <defaultValue>false</defaultValue>
    </entry>
    <entry name="gridColor" type="java.awt.Color">
      <value>#808080</value>
      <defaultValue>#808080</defaultValue>
    </entry>
    <entry name="selectElementOnDrop" type="java.lang.Boolean">
      <value>false</value>
      <defaultValue>false</defaultValue>
    </entry>
    <entry name="createDefaultNodeLabel" type="java.lang.Boolean">
      <value>true</value>
      <defaultValue>true</defaultValue>
    </entry>
  </store>
  <store name="B.A.A.Y.A">
    <entry name="localViewsHierarchyAware" type="java.lang.Boolean">
      <value>true</value>
      <defaultValue>true</defaultValue>
    </entry>
  </store>
  <store name="com.yworks.yfx.YEd">
    <entry name="checkVersionOnStartup" type="java.lang.Boolean">
      <value>false</value>
      <defaultValue>true</defaultValue>
    </entry>
  </store>
  <store name="com.yworks.yfx.welcome.WelcomeManager">
    <entry name="show.on.startup" type="java.lang.Boolean">
      <value>false</value>
      <defaultValue>true</defaultValue>
    </entry>
  </store>
  <store name="com.yworks.yfx.DialogManager">
    <store name="docked">
      <entry name="B.A.A.P._$B" type="java.lang.Boolean">
        <value>false</value>
        <defaultValue>false</defaultValue>
      </entry>
      <entry name="Properties Mapper Tool" type="java.lang.Boolean">
        <value>false</value>
        <defaultValue>false</defaultValue>
      </entry>
      <entry name="B.A.A.P.i" type="java.lang.Boolean">
        <value>false</value>
        <defaultValue>false</defaultValue>
      </entry>
      <entry name="B.A.A.P.j" type="java.lang.Boolean">
        <value>false</value>
        <defaultValue>false</defaultValue>
      </entry>
      <entry name="Preferences" type="java.lang.Boolean">
        <value>false</value>
        <defaultValue>false</defaultValue>
      </entry>
      <entry name="IMAGEIO_OUTPUT" type="java.lang.Boolean">
        <value>false</value>
        <defaultValue>false</defaultValue>
      </entry>
      <entry name="B.A.A.P.H" type="java.lang.Boolean">
        <value>false</value>
        <defaultValue>false</defaultValue>
      </entry>
      <entry name="y.module.IncrementalHierarchicLayoutModule" type="java.lang.Boolean">
        <value>false</value>
        <defaultValue>false</defaultValue>
      </entry>
      <entry name="B.A.A.P.a$B" type="java.lang.Boolean">
        <value>false</value>
        <defaultValue>false</defaultValue>
      </entry>
      <entry name="SVG_OUTPUT" type="java.lang.Boolean">
        <value>false</value>
        <defaultValue>false</defaultValue>
      </entry>
    </store>
  </store>
  <store name="com.yworks.yfx.io.IoSupport">
    <store name="lastFilterIndex">
      <entry name="export" type="java.lang.Integer">
        <value>8</value>
        <defaultValue>8</defaultValue>
      </entry>
      <entry name="save" type="java.lang.Integer">
        <value>0</value>
        <defaultValue>0</defaultValue>
      </entry>
      <entry name="open" type="java.lang.Integer">
        <value>0</value>
        <defaultValue>0</defaultValue>
      </entry>
      <entry name="paletteImport" type="java.lang.Integer">
        <value>0</value>
        <defaultValue>0</defaultValue>
      </entry>
      <entry name="symbolImport" type="java.lang.Integer">
        <value>2</value>
        <defaultValue>2</defaultValue>
      </entry>
    </store>
    <store name="lastDirectoryName">
      <entry name="paletteFile" type="java.io.File">
        <value>/home/lutts</value>
        <defaultValue>/home/lutts</defaultValue>
      </entry>
      <entry name="mainFile" type="java.io.File">
        <value>/home/lutts/Documents</value>
        <defaultValue>/home/lutts/embed/personal/android/PackageInstaller</defaultValue>
      </entry>
      <entry name="symbolFile" type="java.io.File">
        <value>/home/lutts/Documents</value>
        <defaultValue>/home/lutts</defaultValue>
      </entry>
    </store>
  </store>
</settings>
